.exampleCategory {
    background-color: #f8f6f5;
    margin-top: 25px;
    h1 {
      padding: 7px;
      text-align: center;
      margin-bottom: 15px;
      font-weight: 700;
      font-size: 20px;
    }

    .productsContainer {

    }
    .shopAll {
      width: 100%;
      color: rgba(255, 166, 0, 1);
      margin-top: 25px;
      padding-bottom: 25px;
      display: flex;
      justify-content: center;

      p {
        border-bottom: 1px solid rgba(255, 166, 0, 1);
        text-align: center;
        cursor: pointer;
      }
    }

    @media (min-width: 1024px) {
      .productsContainer {
        display: flex;
        flex-direction: row;
        :last-child {
          margin-right: 0;
        }
      }
      .shopAll {
        margin-top: 0;
      }
    }
  }